@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-800 text-white;
  background-image: radial-gradient(rgba(0, 0, 0, 1) 2px, transparent 2px);
  background-size: 17.5px 17.5px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
